aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
libtool
kernelmod/Module.symvers
kernelmod/modules.order
kernelmod/.tmp_versions/
m4/
Makefile
Makefile.in
src/.deps
src/spin_config
src/spin_print
stamp-h1
*.ko
*.ko.cmd
*.la
*.o
*.o.cmd
*.mod.c
publish.sh
src/tests/*_test
*.gcov
*.gcda
*.gcno
src/version.c
src/spind
kernelmod/.deps
kernelmod/.dirstamp
.idea/