aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
libtool
Makefile
Makefile.in
.deps
src/tools/spin_config/spin_config
src/tools/spin_print/spin_print
stamp-h1
*.ko
*.ko.cmd
*.a
*.la
*.o
*.o.cmd
*.mod.c
publish.sh
src/tests/*_test
*.gcov
*.gcda
*.gcno
src/lib/version.c
src/lib/.deps
src/m4/
src/spind
src/kernelmod/.deps
src/kernelmod/.dirstamp
src/kernelmod/pkt_info.h
src/kernelmod/spin_cfg.h
src/kernelmod/Module.symvers
src/kernelmod/modules.order
src/kernelmod/.tmp_versions/
.idea/
