aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
libtool
Makefile
Makefile.in
.deps
tools/spin_config/spin_config
tools/spin_print/spin_print
stamp-h1
*.ko
*.ko.cmd
*.a
*.la
*.o
*.o.cmd
*.mod.c
publish.sh
tests/*_test
*.gcov
*.gcda
*.gcno
lib/version.c
lib/.deps
m4/
.idea/
tags
