/*
 *  SPIN CSS - v0.0.1 - 2017-02-28
 * https://valibox.sidn.nl/
 */

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.ui-button
{
   padding: 3px 11px 3px 11px !important;
}
body {
    display: flex;
    flex-direction: column;
}
.initiallyHidden {
    display: none;
}
#visualization {
    height: 140px;
}
#infobar {
    background: white;
}
#mynetwork {
    flex: 1;
    border: 2px solid lightgray;
    /* TODO: moves down after loading of document */
    margin-bottom: 20px
}
#nodeinfo-data {
    padding: 10px;
}
#title-logo {
    float: left;
}
#title {
    float: left;
}
#status {
    background-color: #ffcccc;
    border: 1px solid black;
    float: right;
    padding: 4px;
}
#autozoom-button {
    float: right;
}
#filter-list-button {
    float: right;
}
#filter-list .ui-selecting {
    background: #FECA40;
}
#filter-list .ui-selected {
    background: #F39814;
    color: white;
}
#filter-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#filter-list li {
    margin: 3px;
    padding: 0.4em;
}

.ui-dialog
{
    box-shadow: 1px 1px 5px #333;
}


