        html, body
        {
            height: 100%;
            font-family: Arial, Helvetica, sans-serif;
        }
        body
        {
            display: flex;
            flex-direction: column;
        }

        .initiallyHidden { display: none; }

        #visualization
        {
            height: 140px;
        }
        #infobar
        {
            background: white;
        }
        #mynetwork
        {
            flex:1;
            border: 2px solid lightgray;
            margin-bottom: 20px
        }

        #nodeinfo-data {
            padding: 10px;
            spacing: 6px;
        }
        #title { float: left; }
        #status {
            background-color: ffcccc;
            /*position: absolute;*/
            border: 1px solid black;
            /*top: 20px;*/
            /*right: 80px;*/
            float:right;
            padding: 4px;
        }
        #autozoom-button { float: right; }
        #filter-list-button { float: right; spacing: 10px;}
        #filter-list .ui-selecting { background: #FECA40; }
        #filter-list .ui-selected { background: #F39814; color: white; }
        #filter-list {
            list-style-type: none; margin: 0; padding: 0;
        }

        #filter-list li {
            margin: 3px; padding: 0.4em;
        }

