{{ --$def with (device_name, device_mac, device_ips) }}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <script type="text/javascript" src="/spin_graph/js/jquery-3.1.1.min.js" ></script>
    <script type="text/javascript" src="/spin_graph/js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="/spin_graph/js/mqttws31.js"></script>
<div>
    <div id="capture">
        <div class="section section-top">
            <table>
                <tr>
                    <td nowrap="nowrap">
                        <b>Device traffic capture</b>
                    </td>
                    <td style="width: 100%">
                        &nbsp;
                    </td>
                    <td nowrap="nowrap" style="spacing:0px 0px 0px 0px;;padding:0px 0px 0px 0px;">
                        <button id="$capture_close" style="spacing:0px 0px 0px 0px;;padding:0px 0px 0px 0px;">Close window</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="section">
            <table>
                <tr>
                    <td colspan="2">Device information</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>{{= device_name}}</td>
                </tr>
                <tr>
                    <td>Mac:</td>
                    <td>{{= device_mac}}</td>
                </tr>
                <tr>
                    <td>IP(s):</td>
                    <td>{{= device_ips}}</td>
                </tr>
            </table>
        </div>

        <div class="section section-bottom">
            <div align="right">
            <button id="$capture_startstop">Start capture</button>
            </div>
            <table>
                <tr>
                    <td>Capture status: </td>
                    <td align="right" class="datatable">
                        <span id="$statusRunningField" class="status status-inactive">Not running</span>
                    </td>
                </tr>
                <tr>
                    <td>Bytes received:</td>
                    <td id="$statusByteCountField" align="right">0</td>
                </tr>
                <tr>
                    <td>Capture start time: </td>
                    <td id="$statusStartedAtField" align="right">capture not started</td>
                </tr>
                <tr>
                    <td>Last data seen at:</td>
                    <td id="$statusLastSeenField" align="right"></td>
                </tr>
            </table>
            <div align="right">
                <button disabled id="$capture_save">Download captured data</button>
            </div>
        </div>

        <br />

        <div class="section2 section2-top">
            <center>
                Additional functions
            </center>
        </div>
        <div class="section2 section2">
            <center>
                <button disabled id="$capture_upload">Upload captured data to SIDN</button>
            </center>
        </div>
        <div class="section2 section2-bottom">
            <center>
                Not working? Try the <a target="_blank" href="/spin_api/tcpdump?device={{= device_mac}}">old download method</a>.
            </center>
        </div>
    </div>
    <div id="upload" style="display: none;">
        <div class="section section-top">
            <table>
                <tr>
                    <td nowrap="nowrap">
                        <b>Upload to SIDN</b>
                    </td>
                    <td style="width: 100%">
                        &nbsp;
                    </td>
                    <td nowrap="nowrap">
                        <button id="$upload_back">Back to capture</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="section">
            <input id="$upload_consent" type="checkbox">
                I declare that this is my data, that, to the best of my knowledge, it does not contain any personal data about other individuals, and that I allow SIDN to make the file available to the public for download and analysis.
            </input>
        </div>
        <div class="section">
            <table>
                <tr>
                    <td>Device type</td>
                    <td><input id="$upload_device_type" type="textfield" name="text1" value="" /></td>
                </tr>
                <tr>
                    <td>Device brand</td>
                    <td><input id="$upload_device_brand" type="textfield" name="text1" value="" /></td>
                </tr>
                <tr>
                    <td>Device name</td>
                    <td><input id="$upload_device_name" type="textfield" name="text1" value="" /></td>
                </tr>
            </table>
        </div>
        <div class="section">
            Please provide any additional information, such as times at which you performed any actions, if known. For example '13:45 turned on light.', '13:48 changed color of light.', etc.
            <textarea id="$upload_additional_info" style="width: 100%; height: 5em;"></textarea>
        </div>
        <div class="section section-bottom">
            <div align="right">
                <button id="$upload_upload">Upload captured data</button>
            </div>
        </div>
    </div>
    <div class="notice"
        <center>
            <div id="notice">
            Uploading, please wait.
            </div>
        </center>
    </div>
    <div id="greyOut" class="darkClass"></div>
</div>
<script>
var statusRunning = false;
var statusDownloaded = false;
var statusStartedAt = "not started";
var statusByteCount = 0;

var fileStream
var mqttClient
var encode = TextEncoder.prototype.encode.bind(new TextEncoder)
var receivedBytes = []
updateUIAll();

// Abort the download stream when leaving the page
window.addEventListener('beforeunload', evt => {
    if (statusRunning) {
        mqttClient.disconnect()
    }
})

$capture_close.onclick = () => {
    if (statusRunning) {
        if (confirm("You have an active capture, closing this window will remove the captured data, are you sure?")) {
            window.close()
        }
    } else if (statusByteCount > 0 && !statusDownloaded) {
        if (confirm("You have captured data that has not been downloaded yet, closing this window will remove the captured data. Are you sure?")) {
            window.close()
        }
    } else {
        window.close()
    }
        
}

function createAndDownloadBlobFile(body, filename, extension = 'pcap') {
    const blob = new Blob([body], { type: 'application/vnd.tcpdump.pcap'});
    const fileName = `${filename}.${extension}`;
    if (navigator.msSaveBlob) {
        // IE 10+
        navigator.msSaveBlob(blob, fileName);
    } else {
        const link = document.createElement('a');
        // Browsers that support HTML5 download attribute
        if (link.download !== undefined) {
            const url = URL.createObjectURL(blob);
            link.setAttribute('href', url);
            link.setAttribute('download', fileName);
            link.style.visibility = 'hidden';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    }
}

function download(filename) {
    var element = document.createElement('a');
    element.setAttribute('href', 'data:application/vnd.tcpdump.pcap,' + encodeURIComponent(receivedBytes));
    element.setAttribute('download', filename);

    element.style.display = 'none';
    document.body.appendChild(element);

    element.click();

    document.body.removeChild(element);
}

$capture_save.onclick = () => {
    if (receivedBytes.length > 0) {
        //download('test.pcap');
        let filename = "{{=device_name}}_" + statusStartedAt
        filename = filename.replace(/:/g, "-")
        filename = filename.replace(/\s/g, "_")
        createAndDownloadBlobFile(getBytesAsUint8(), filename)
        statusDownloaded = true;
    }
}

$capture_startstop.onclick = evt => {
    try {
        if (!statusRunning) {
            if (statusByteCount == 0 || statusDownloaded || confirm("This will start a new capture and current data will be lost. Press Ok to continue")) {
                statusRunning = true
                statusDownloaded = false
                statusByteCount = 0;
                receivedBytes = [];
                startCapture();
            }
        } else {
            statusRunning = false
            stopCapture();
        }
        updateUIAll();
    } catch (exc) {
        stopTCPDump()
        alert(exc)
    }
}

$capture_upload.onclick = evt => {
    $( "#capture" ).toggle();
    $( "#upload" ).toggle();
    resizeWindow("upload");
}

$upload_back.onclick = evt => {
    $( "#capture" ).toggle();
    $( "#upload" ).toggle();
    resizeWindow("capture");
}

$upload_upload.onclick = evt => {
    uploadData();
}

function uploadData() {
    post_data = {
        device_type: $upload_device_type.value,
        device_brand: $upload_device_brand.value,
        device_name: $upload_device_name.value,
        user_consent: $upload_consent.value,
        additional_information: $upload_additional_info.value,
        pcap_data: btoa(String.fromCharCode.apply(null, receivedBytes))
    }
    $("#greyOut").toggle();
    $("#notice").toggle();
    $.ajax({
        type: 'POST',
        url: 'https://spin.sidnlabs.nl/api/v1/pcap/upload/',
        data: JSON.stringify(post_data),
        success: function(data) {
            alert('Data uploaded!\n\nThank you for your contribution.');
            $( "#capture" ).toggle();
            $( "#upload" ).toggle();
            resizeWindow("capture");
        },
        contentType: "application/json",
        dataType: 'json'
    }).fail(function(err) {
        if (err['responseJSON'] && err['responseJSON'].constructor == Object) {
            let err_msg = "";
            Object.keys(err['responseJSON']).forEach(function(key) {
                console.log(key, err['responseJSON'][key]);
                err_msg = err_msg + key + ": " + err['responseJSON'][key] + "\n";
            });
            alert(err_msg);
        } else {
            alert( "error!: " + JSON.stringify(err, null, 4) );
        }
    }).always(function() {
        $("#greyOut").toggle();
        $("#notice").toggle();
    });

}

function updateUIAll() {
    if (statusRunning) {
        $capture_startstop.firstChild.data = "Stop capture"
        $statusRunningField.innerHTML = "Running"
        $statusRunningField.className = "status status-active"
    } else {
        $capture_startstop.firstChild.data = "Start capture"
        $statusRunningField.innerHTML = "Not running"
        $statusRunningField.className = "status status-inactive"
    }
    updateUIData();
}

function getCurrentTimeString() {
    var dt = new Date();

    // ensure date comes as 01, 09 etc
    var DD = ("0" + dt.getDate()).slice(-2);
    // getMonth returns month from 0
    var MM = ("0" + (dt.getMonth() + 1)).slice(-2);
    var YYYY = dt.getFullYear();
    var hh = ("0" + dt.getHours()).slice(-2);
    var mm = ("0" + dt.getMinutes()).slice(-2);
    var ss = ("0" + dt.getSeconds()).slice(-2);
    var date_string = YYYY + "-" + MM + "-" + DD + " " + hh + ":" + mm + ":" + ss;

    return date_string;
}

function resizeWindow(element_id) {
   var contentWidth = 444;
   var contentHeight = document.getElementById(element_id).offsetHeight + 60;
   window.resizeTo(contentWidth, contentHeight);
}

function updateUIData() {
    if (statusByteCount > 0) {
        $capture_save.disabled = false
        $capture_upload.disabled = false
    } else {
        $capture_upload.disabled = true
    }
    $statusByteCountField.innerHTML=statusByteCount
    var dt = new Date();
}

function startCapture() {
    // onconnect triggers the tcpdump
    connectToMQTT()
    statusStartedAt = getCurrentTimeString()
    $statusStartedAtField.innerHTML = statusStartedAt
}

function stopCapture() {
    // ondisconnect triggers tcpdump stop
    mqttClient.disconnect();
}

function startTCPDump() {
    $.get("/spin_api/capture_start?device={{=device_mac}}").fail(function(msg) {
        let error = JSON.stringify(msg)
        if (msg['responseText']) {
            if (msg['responseText']['error']) {
                error = msg['responseText']['error']
            } else {
                error = JSON.stringify(msg['responseText'])
            }
        }
        alert("Error starting capture: " + error);
        mqttClient.disconnect();
    });
}
function stopTCPDump() {
    $.get("/spin_api/capture_stop?device={{=device_mac}}").done(function() {
        // do we want to do anything else?
    });
}

function onMQTTClientOpen(evt) {
    // Once a connection has been made, make a subscription and send a message..
    console.log("Connected");
    let channel = "SPIN/capture/{{= device_mac }}"
    mqttClient.subscribe(channel);
    console.log("Subscribed");

    // we are connected, start the dump on the server
    startTCPDump()
}
function onMQTTClientStop(evt) {
    // Once a connection has been made, make a subscription and send a message..
    console.log("Connected");

    // TODO: what to do?
    if (evt.errorCode !== 0) {
        console.error('Websocket has disappeared');
        console.error(evt.errorMessage)
        $statusRunningField.className = "status status-error"
    }
    stopTCPDump()
    updateUIAll()
}

function getBytesAsUint8() {
    return new Uint8Array(receivedBytes);
}

function onMQTTClientMessage(message) {
    let hex = message.payloadString
    for (var bytes = [], c = 0; c < hex.length; c += 2) {
        receivedBytes.push(parseInt(hex.substr(c, 2), 16));
    }
    statusByteCount = receivedBytes.length

    $statusLastSeenField.innerHTML = getCurrentTimeString();
    updateUIData()
}

function connectToMQTT() {
    var url = new URL(window.location);
    var mqtt_port = url.searchParams.get("mqtt_port");
    var server_host = window.location.hostname
    if (!server_host) {
        server_host = "localhost"
    }
    if (mqtt_port) {
        mqtt_port = parseInt(mqtt_port);
    } else {
        mqtt_port = 1884;
    }
    var identifier = "Web-" + Math.random().toString(16).slice(-5)

    mqttClient = new Paho.MQTT.Client(server_host, mqtt_port, identifier);
    mqttClient.onConnectionLost = onMQTTClientStop;
    mqttClient.onMessageArrived = onMQTTClientMessage;
    mqttClient.connect({onSuccess:onMQTTClientOpen});
}

    </script>
  </body>

<style>
.section {
  width: 400px;
  border-style: solid;
  border-width: 0px 2px 2px 2px;
  padding: 10px;
  spacing: 4px;
}

.section-top {
  border-width: 2px 2px 2px 2px;
  border-radius: 10px 10px 0px 0px;
  background-color: lightblue;
}

.section-bottom {
  border-width: 0px 2px 2px 2px;
  border-radius: 0px 0px 10px 10px;
}

.section2 {
  width: 360px;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  padding: 10px;
  spacing: 4px;
}

.section2-top {
  background-color: lightblue;
  border-width: 1px 1px 1px 1px;
  border-radius: 10px 10px 0px 0px;
}

.section2-bottom {
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 0px 10px 10px;
}

.status-active {
    background-color: lightgreen;
}

.status-error {
    background:rgb(255,120,120);
}

.status-inactive {
    background-color: lightgrey;
}

.status {
    border-radius:5px;
    display: inline-block;
    padding: 2px 10px 2px 10px;
}

.datatable {
    width: 200px;
    padding-top: 10px;
}

.cnotice {
}
#notice {
    border: 1px solid;
    border-radius:5px;
    padding: 10px;
    box-shadow: 3px 6px #888888;
    position: absolute;
    top: 40%;
    left: 20px;
    background: #ffffff;
    width: 392px;
    z-index: 15;
    display: none;
}

.darkClass
{
    background-color: white;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 10;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
    display: none;
}

</style>
  
</html>
