<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <link href="/spin_graph/css/bootstrap-4.3.1.min.css" rel="stylesheet" type="text/css" />
    <link href="/spin_graph/css/bootstrap-select-1.13.14.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/spin_graph/js/jquery-3.1.1.min.js" ></script>
    <script type="text/javascript" src="/spin_graph/js/jquery-ui-1.13.0.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/spin_graph/js/bootstrap-4.3.1.bundle.min.js"></script>
    <script type="text/javascript" src="/spin_graph/js/bootstrap-select-1.13.14.min.js"></script>
    <script type="text/javascript" src="/spin_graph/js/mqttws31.js"></script>
<div>
    <div id="capture">
        <div class="section section-top">
            <table>
                _TEMPLATE_ARG1_
                <tr>
                    <td nowrap="nowrap">
                        <b>Device traffic capture</b>
                    </td>
                    <td style="width: 100%">
                        &nbsp;
                    </td>
                    <td nowrap="nowrap" style="spacing:0px 0px 0px 0px;;padding:0px 0px 0px 0px;">
                        <button class="btn btn-sm btn-secondary" id="$capture_close">Close window</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="section">
            <table>
                <tr>
                    <td colspan="2">Device information</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>_TEMPLATE_ARG0_</td>
                </tr>
                <tr>
                    <td>Mac:</td>
                    <td>_TEMPLATE_ARG1_</td>
                </tr>
                <tr>
                    <td>IP(s):</td>
                    <td>_TEMPLATE_ARG2_</td>
                </tr>
            </table>
        </div>

        <div class="section section-bottom">
            <div align="right">
            <button class="btn btn-sm btn-secondary" id="$capture_startstop">Start capture</button>
            </div>
            <table>
                <tr>
                    <td>Capture status: </td>
                    <td align="right" class="datatable">
                        <span id="$statusRunningField" class="status status-inactive">Not running</span>
                    </td>
                </tr>
                <tr>
                    <td>Bytes received:</td>
                    <td id="$statusByteCountField" align="right">0</td>
                </tr>
                <tr>
                    <td>Capture start time: </td>
                    <td id="$statusStartedAtField" align="right">capture not started</td>
                </tr>
                <tr>
                    <td>Last data seen at:</td>
                    <td id="$statusLastSeenField" align="right"></td>
                </tr>
            </table>
            <div align="right">
                <button class="btn btn-sm btn-secondary" disabled id="$capture_save">Download captured data</button>
            </div>
        </div>

        <br />

        <div class="section2 section2-top">
            <center>
                Additional functions
            </center>
        </div>
        <div class="section2 section2">
            <center>
                <button class="btn btn-sm btn-secondary" disabled id="$capture_upload">Upload captured data to SIDN</button>
            </center>
        </div>
        <div class="section2 section2-bottom">
            <center>
                Not working? Try the <a target="_blank" href="/spin_api/tcpdump?device=_TEMPLATE_ARG1_">old download method</a>.
            </center>
        </div>
    </div>
    <div id="upload" style="display: none;">
        <div class="section section-top">
            <table>
                <tr>
                    <td nowrap="nowrap">
                        <b>Upload to SIDN</b>
                    </td>
                    <td style="width: 100%">
                        &nbsp;
                    </td>
                    <td nowrap="nowrap">
                        <button class="btn btn-sm btn-secondary" id="$upload_back">Back to capture</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="section">
            <input id="$upload_consent" type="checkbox">
                I declare that this is my data, that, to the best of my knowledge, it does not contain any personal data about other individuals, and that I allow SIDN to make the file available to the public for download and analysis.
            </input>
        </div>
        <div class="section">
            <table>
    <tr>
      <td>
        <label>Device name:</label>
      </td>
      <td style="text-align: left;">
        <input id="device_name" type="text" onkeyup="clearError('device_name');"/></input>
        <label id="device_name_error" style="color: red;"></label>
      </td>
    </tr>
    <tr>
      <td>
        <label>Device type:</label>
      </td>
      <td style="text-align: left;">
        <input id="device_type" placeholder="Click to see suggestions" type="text" onkeyup="clearError('device_type');" data-toggle="dropdown"/></input>
        <label id="device_type_error" style="color: red;"></label>
        <ul class="dropdown-menu" role="menu" aria-labelledby="device_type" id="device_type_suggestions">
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <label>Device brand:</label>
      </td>
      <td style="text-align: left;">
        <input id="device_brand" placeholder="Click to see suggestions" type="text" onkeyup="clearError('device_brand');" data-toggle="dropdown"/></input>
        <label id="device_brand_error" style="color: red;"></label>
        <ul class="dropdown-menu" role="menu" aria-labelledby="device_brand" id="device_brand_suggestions">
        </ul>
      </td>
    </tr>

    <tr>
        <td>Environment</td>
        <td style="text-align: left;">
            <input type="text" placeholder="Click to see suggestions" id="environment" data-toggle="dropdown">
            <ul class="dropdown-menu" role="menu" aria-labelledby="environment" id="environment_suggestions">
            </ul>
        </td>
    </tr>

    <tr>
        <td>Activity</td>
        <td style="text-align: left;">
            <input type="text" placeholder="Click to see suggestions" id="activity" data-toggle="dropdown">
            <ul class="dropdown-menu" role="menu" aria-labelledby="activity" id="activity_suggestions">
            </ul>
        </td>
    </tr>
            </table>
        </div>
        <div class="section">
            Please provide any additional information, such as times at which you performed any actions, if known. For example '13:45 turned on light.', '13:48 changed color of light.', etc.
            <textarea id="$upload_additional_info" style="width: 100%; height: 5em;"></textarea>
        </div>
        <div class="section section-bottom">
            <div align="right">
                <button class="btn btn-sm btn-secondary" id="$submitButton">Upload captured data</button>
            </div>
        </div>
    </div>
    <div class="notice"
        <center>
            <div id="notice">
            Uploading, please wait.
            </div>
        </center>
    </div>
    <div id="greyOut" class="darkClass"></div>
</div>
<script>
var statusRunning = false;
var statusDownloaded = false;
var statusStartedAt = "not started";
var statusByteCount = 0;
var username = null;
var password = null;

var fileStream
var mqttClient
var encode = TextEncoder.prototype.encode.bind(new TextEncoder)
var receivedBytes = []
updateUIAll();

function setUser(user, pass) {
  username = user;
  password = pass;
}
// Abort the download stream when leaving the page
window.addEventListener('beforeunload', evt => {
    if (statusRunning) {
        mqttClient.disconnect()
    }
})

function escapeHTML(unsafeText) {
    let div = document.createElement('div');
    div.innerText = unsafeText;
    return div.innerHTML;
}

$capture_close.onclick = () => {
    if (statusRunning) {
        if (confirm("You have an active capture, closing this window will remove the captured data, are you sure?")) {
            window.close()
        }
    } else if (statusByteCount > 0 && !statusDownloaded) {
        if (confirm("You have captured data that has not been downloaded yet, closing this window will remove the captured data. Are you sure?")) {
            window.close()
        }
    } else {
        window.close()
    }
        
}

function createAndDownloadBlobFile(body, filename, extension = 'pcap') {
    const blob = new Blob([body], { type: 'application/vnd.tcpdump.pcap'});
    const fileName = `${filename}.${extension}`;
    if (navigator.msSaveBlob) {
        // IE 10+
        navigator.msSaveBlob(blob, fileName);
    } else {
        const link = document.createElement('a');
        // Browsers that support HTML5 download attribute
        if (link.download !== undefined) {
            const url = URL.createObjectURL(blob);
            link.setAttribute('href', url);
            link.setAttribute('download', fileName);
            link.style.visibility = 'hidden';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    }
}

function download(filename) {
    var element = document.createElement('a');
    element.setAttribute('href', 'data:application/vnd.tcpdump.pcap,' + encodeURIComponent(receivedBytes));
    element.setAttribute('download', filename);

    element.style.display = 'none';
    document.body.appendChild(element);

    element.click();

    document.body.removeChild(element);
}

$capture_save.onclick = () => {
    if (receivedBytes.length > 0) {
        let filename = "_TEMPLATE_ARG0__" + statusStartedAt
        filename = filename.replace(/:/g, "-")
        filename = filename.replace(/\s/g, "_")
        createAndDownloadBlobFile(getBytesAsUint8(), filename)
        statusDownloaded = true;
    }
}

$capture_startstop.onclick = evt => {
    try {
        if (!statusRunning) {
            if (statusByteCount == 0 || statusDownloaded || confirm("This will start a new capture and current data will be lost. Press Ok to continue")) {
                statusRunning = true
                statusDownloaded = false
                statusByteCount = 0;
                receivedBytes = [];
                startCapture();
            }
        } else {
            statusRunning = false
            stopCapture();
        }
        updateUIAll();
    } catch (exc) {
        stopTCPDump()
        alert(exc)
    }
}

$capture_upload.onclick = evt => {
    loadSuggestionData();
    $( "#capture" ).toggle();
    $( "#upload" ).toggle();
    resizeWindow("upload");
}

$upload_back.onclick = evt => {
    $( "#capture" ).toggle();
    $( "#upload" ).toggle();
    resizeWindow("capture");
}

$submitButton.onclick = evt => {
    disableSubmit();
    $("#greyOut").toggle();
    $("#notice").toggle();
    try {
        sendFileAndForm(btoa(String.fromCharCode.apply(null, receivedBytes)));
    } catch (error) {
        console.error(error);
    }
    enableSubmit();
    $("#greyOut").toggle();
    $("#notice").toggle();
}


function uploadData() {
    post_data = {
        device_type: $upload_device_type.value,
        device_brand: $upload_device_brand.value,
        device_name: $upload_device_name.value,
        user_consent: $upload_consent.value,
        additional_information: $upload_additional_info.value,
        pcap_data: btoa(String.fromCharCode.apply(null, receivedBytes))
    }
    $("#greyOut").toggle();
    $("#notice").toggle();
    $.ajax({
        type: 'POST',
        url: 'https://spin.sidnlabs.nl/api/v1/pcap/upload/',
        data: JSON.stringify(post_data),
        success: function(data) {
            alert('Data uploaded!\n\nThank you for your contribution.');
            $( "#capture" ).toggle();
            $( "#upload" ).toggle();
            resizeWindow("capture");
        },
        contentType: "application/json",
        dataType: 'json'
    }).fail(function(err) {
        if (err['responseJSON'] && err['responseJSON'].constructor == Object) {
            let err_msg = "";
            Object.keys(err['responseJSON']).forEach(function(key) {
                console.log(key, err['responseJSON'][key]);
                err_msg = err_msg + key + ": " + err['responseJSON'][key] + "\n";
            });
            alert(err_msg);
        } else {
            alert( "error!: " + JSON.stringify(err, null, 4) );
        }
    }).always(function() {
        $("#greyOut").toggle();
        $("#notice").toggle();
    });

}

function updateUIAll() {
    if (statusRunning) {
        $capture_startstop.firstChild.data = "Stop capture"
        $statusRunningField.innerHTML = "Running"
        $statusRunningField.className = "status status-active"
    } else {
        $capture_startstop.firstChild.data = "Start capture"
        $statusRunningField.innerHTML = "Not running"
        $statusRunningField.className = "status status-inactive"
    }
    updateUIData();
}

function getCurrentTimeString() {
    var dt = new Date();

    // ensure date comes as 01, 09 etc
    var DD = ("0" + dt.getDate()).slice(-2);
    // getMonth returns month from 0
    var MM = ("0" + (dt.getMonth() + 1)).slice(-2);
    var YYYY = dt.getFullYear();
    var hh = ("0" + dt.getHours()).slice(-2);
    var mm = ("0" + dt.getMinutes()).slice(-2);
    var ss = ("0" + dt.getSeconds()).slice(-2);
    var date_string = YYYY + "-" + MM + "-" + DD + " " + hh + ":" + mm + ":" + ss;

    return date_string;
}

function resizeWindow(element_id) {
   var contentWidth = 444;
   var contentHeight = document.getElementById(element_id).offsetHeight + 60;
   window.resizeTo(contentWidth, contentHeight);
}

function updateUIData() {
    if (statusByteCount > 0) {
        $capture_save.disabled = false
        $capture_upload.disabled = false
    } else {
        //$capture_upload.disabled = true
        $capture_upload.disabled = false
    }
    $statusByteCountField.innerHTML=statusByteCount
    var dt = new Date();
}

function startCapture() {
    // onconnect triggers the tcpdump
    connectToMQTT()
    statusStartedAt = getCurrentTimeString()
    $statusStartedAtField.innerHTML = statusStartedAt
}

function stopCapture() {
    // ondisconnect triggers tcpdump stop
    mqttClient.disconnect();
}

function startTCPDump() {
    $.get("/spin_api/capture_start?device=_TEMPLATE_ARG1_").fail(function(msg) {
        let error = JSON.stringify(msg)
        if (msg['responseText']) {
            if (msg['responseText']['error']) {
                error = msg['responseText']['error']
            } else {
                error = JSON.stringify(msg['responseText'])
            }
        }
        alert("Error starting capture: " + error);
        mqttClient.disconnect();
    });
}
function stopTCPDump() {
    $.get("/spin_api/capture_stop?device=_TEMPLATE_ARG1_").done(function() {
        // do we want to do anything else?
    });
}

function onMQTTClientOpen(evt) {
    // Once a connection has been made, make a subscription and send a message..
    console.log("Connected");
    let channel = "SPIN/capture/_TEMPLATE_ARG1_"
    mqttClient.subscribe(channel);
    console.log("Subscribed");

    // we are connected, start the dump on the server
    startTCPDump()
}
function onMQTTClientStop(evt) {
    // Once a connection has been made, make a subscription and send a message..
    console.log("Connected");

    // TODO: what to do?
    if (evt.errorCode !== 0) {
        console.error('Websocket has disappeared');
        console.error(evt.errorMessage)
        $statusRunningField.className = "status status-error"
    }
    stopTCPDump()
    updateUIAll()
}

function getBytesAsUint8() {
    return new Uint8Array(receivedBytes);
}

function onMQTTClientMessage(message) {
    let hex = message.payloadString
    for (var bytes = [], c = 0; c < hex.length; c += 2) {
        receivedBytes.push(parseInt(hex.substr(c, 2), 16));
    }
    statusByteCount = receivedBytes.length

    $statusLastSeenField.innerHTML = getCurrentTimeString();
    updateUIData()
}

function connectToMQTT() {
    var url = new URL(window.location);
    var mqtt_port = url.searchParams.get("mqtt_port");
    var protocol = window.location.protocol;
    var server_host = window.location.hostname;

    let options = {
        onSuccess: onMQTTClientOpen
    }

    if (protocol == "https:") {
        options.useSSL = true;
    } else {
        options.useSSL = false;
    }

    if (!server_host) {
        server_host = "localhost";
    }

    if (mqtt_port) {
        mqtt_port = parseInt(mqtt_port);
    } else {
        mqtt_port = 1884;
    }

    if (username) {
        options.userName = username;
    }
    if (password) {
        options.password = password;
    }
    var identifier = "Web-" + Math.random().toString(16).slice(-5)

    mqttClient = new Paho.MQTT.Client(server_host, mqtt_port, identifier);
    mqttClient.onConnectionLost = onMQTTClientStop;
    mqttClient.onMessageArrived = onMQTTClientMessage;
    mqttClient.connect(options);
}

    </script>
<!-- Code below as taken from spin.sidnlabs.nl -->
<script>
const apiUrl = "https://spin.sidnlabs.nl/api/v1/";
var disabled = false;

function disableSubmit() {
  disabled = true
  $submitButton.disabled = true;
}

function enableSubmit() {
  disabled = false;
  $submitButton.disabled = false;
}

function clearError(field) {
  let el = document.getElementById(field + "_error");
  if (el) {
    el.innerHTML = "";
  }
}

function clearAllErrors() {
  clearError("general");
  clearError("file");
  clearError("device_type");
  clearError("device_brand");
  clearError("device_name");
  clearError("additional_information");
  clearError("public");
  clearError("user_consent");
}

function setError(field, error) {
  let el = document.getElementById(field + "_error");
  if (el) {
    el.innerHTML += error + "<br />"
  } else {
    el = document.getElementById("general_error");
    el.innerHTML += field + ": " + error + "<br />"
  }
}

function processErrors(data) {
  let fields = Object.keys(data);
  for (let i=0; i<fields.length; i++) {
    let field = fields[i];
    setError(field, data[field]);
  }
}

function littleEndian() {
    let uInt32 = new Uint32Array([0x11223344]);
    let uInt8 = new Uint8Array(uInt32.buffer);
    if(uInt8[0] === 0x44) {
        return true;
    } else if (uInt8[0] === 0x11) {
        return false;
    }
}

function isPcapFile(bytes) {
    if (bytes.length < 24) {
        console.error("Data buffer too small to be a pcap file");
        return false;
    }
    if (littleEndian()) {
        return (
            (bytes[0].charCodeAt(0) == 0xd4 &&
             bytes[1].charCodeAt(0) == 0xc3 &&
             bytes[2].charCodeAt(0) == 0xb2 &&
             bytes[3].charCodeAt(0) == 0xa1) ||
            (bytes[0].charCodeAt(0) == 0xa1 &&
             bytes[1].charCodeAt(0) == 0xb2 &&
             bytes[2].charCodeAt(0) == 0xc3 &&
             bytes[3].charCodeAt(0) == 0xd4) ||
            (bytes[0].charCodeAt(0) == 0x0a &&
             bytes[1].charCodeAt(0) == 0x0d &&
             bytes[2].charCodeAt(0) == 0x0d &&
             bytes[3].charCodeAt(0) == 0x0a)
        )
    } else {
        return (
            (bytes[0].charCodeAt(0) == 0xc3 &&
             bytes[1].charCodeAt(0) == 0xd4 &&
             bytes[2].charCodeAt(0) == 0xa1 &&
             bytes[3].charCodeAt(0) == 0xb2) ||
            (bytes[0].charCodeAt(0) == 0xb2 &&
             bytes[1].charCodeAt(0) == 0xa1 &&
             bytes[2].charCodeAt(0) == 0xd4 &&
             bytes[3].charCodeAt(0) == 0xc3) ||
            (bytes[0].charCodeAt(0) == 0x0d &&
             bytes[1].charCodeAt(0) == 0x0a &&
             bytes[2].charCodeAt(0) == 0x0a &&
             bytes[3].charCodeAt(0) == 0x0d)
        )
    }
}

function uploadFile(event) {
    if (disabled) {
      return false;
    }
    disableSubmit();
    clearAllErrors();
    var file = document.getElementById("file").files[0];
    if (!file) {
      setError("file", "No file specified");
      enableSubmit();
      return false;
    }
    var reader = new FileReader();
    reader.readAsBinaryString(file);

    reader.onload = function() {
        if (isPcapFile(reader.result)) {
            sendFileAndForm(btoa(reader.result));
        } else {
            setError("file", "You can only upload PCAP files (the MIME type of this file is: " + file.type + ")");
        }
    };
    reader.onerror = function() {
        console.log('there are some problems');
    };
    enableSubmit();
    return false;
}

function getCookie(name) {
  if (!document.cookie) {
    return null;
  }

  const xsrfCookies = document.cookie.split(';')
    .map(c => c.trim())
    .filter(c => c.startsWith(name + '='));

  if (xsrfCookies.length === 0) {
    return null;
  }
  return decodeURIComponent(xsrfCookies[0].split('=')[1]);
}

function sendFileAndForm(file_data) {
  let formData = new FormData();
  let device_type = document.getElementById("device_type").value;
  //let file = document.getElementById("file").files[0];
  formData.append("pcap_data", file_data);
  formData.append("device_type", document.getElementById("device_type").value);
  formData.append("device_brand", document.getElementById("device_brand").value);
  formData.append("device_name", document.getElementById("device_name").value);
  formData.append("environment", document.getElementById("environment").value);
  formData.append("activity", document.getElementById("activity").value);
  formData.append("additional_information", $upload_additional_info.value);
  // 'public' flag currently set both 'public' (viewable by all) and 'indexed' (show in overview)
  //formData.append("public", document.getElementById("public").checked);
  //formData.append("indexed", document.getElementById("public").checked);
  //formData.append("user_consent", document.getElementById("user_consent").checked);
  //formData.append("csrfmiddlewaretoken", getCookie('csrftoken'));
  formData.append("public", $upload_consent.value);
  formData.append("indexed", $upload_consent.value);
  formData.append("user_consent", $upload_consent.value);

  //formData.append("pcap_data", file);
  fetch(apiUrl + "pcaps/upload/", {method: "POST", body: formData}).then((response)=>{
    if ((response.status) == 201) {
      response.json().then((data) => {
        window.open("https://spin.sidnlabs.nl/en/pcaps/analysis/?uuid=" + data['uuid'], "_blank")
        alert('Data uploaded!\n\nThank you for your contribution.');
      }).catch((error) => {
        enableSubmit();
        alert(JSON.stringify(error, null, 2));
      })
    } else if (response.status == 400) {
      response.text().then((data) => {
        try {
          let json = JSON.parse(data);
          processErrors(json);
        } catch {
          alert("Error: " + data);
        }
        enableSubmit();
      });
    } else {
      alert("Unknown response from server: " + response.status);
    }
  }).catch((error)=>{
    enableSubmit();
    console.error(error);
    alert('error: ' + error);
  });

  return false;
}

function suggestionSelected(field, value) {
    $('#' + field).val(value);
}

function updateSuggestions(field, items) {
    console.log("[XX] updateSuggestions called for " + field + " with " + items);
    let select = $('#' + field + '_suggestions');
    $.each(items, function (i, item) {
        console.log("[XX] appending " + item + " to " + select);
        select.append('<li class="suggestion-select" onclick="suggestionSelected(\''+field+'\', \''+escapeHTML(item)+'\')">' + escapeHTML(item) + '</li');
    });
}

function loadSuggestionData() {
    let loadURL = new URL(apiUrl + "pcaps/selections")
    $.getJSON( loadURL, function( data ) {
        console.log(JSON.stringify(data));
        $.each( data, function( key, val ) {
            console.log("[XX] calling updateSuggestions for " + key + " with " + val);
            updateSuggestions(key, val);
        });
    });
}

// Disabled in this version, only load suggestions if user clicks 'upload captured data'
//$(document).ready(function() {
//    //$('.selectpicker').selectpicker();
//    loadSuggestionData();
//});

</script>


  </body>

<style>
.section {
  width: 400px;
  border-style: solid;
  border-width: 0px 2px 2px 2px;
  padding: 10px;
  spacing: 4px;
}

.section-top {
  border-width: 2px 2px 2px 2px;
  border-radius: 10px 10px 0px 0px;
  background-color: lightblue;
}

.section-bottom {
  border-width: 0px 2px 2px 2px;
  border-radius: 0px 0px 10px 10px;
}

.section2 {
  width: 360px;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  padding: 10px;
  spacing: 4px;
}

.section2-top {
  background-color: lightblue;
  border-width: 1px 1px 1px 1px;
  border-radius: 10px 10px 0px 0px;
}

.section2-bottom {
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 0px 10px 10px;
}

.status-active {
    background-color: lightgreen;
}

.status-error {
    background:rgb(255,120,120);
}

.status-inactive {
    background-color: lightgrey;
}

.status {
    border-radius:5px;
    display: inline-block;
    padding: 2px 10px 2px 10px;
}

.datatable {
    width: 200px;
    padding-top: 10px;
}

.cnotice {
}
#notice {
    border: 1px solid;
    border-radius:5px;
    padding: 10px;
    box-shadow: 3px 6px #888888;
    position: absolute;
    top: 40%;
    left: 20px;
    background: #ffffff;
    width: 392px;
    z-index: 15;
    display: none;
}

.darkClass
{
    background-color: white;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 10;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
    display: none;
}

.suggestion-select {
    cursor: pointer;
    transition: 0.5s;
}
.suggestion-select:hover {
    cursor: pointer;
    background-color: lightgray;
    transition: 0.5s;
}

</style>

</html>
