<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SIDN Labs SPIN prototype</title>
    <script src="/spin_api/js/jquery-3.1.1.min.js" ></script>
    <script src="/spin_api/js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <link href="/spin_api/js/jquery-ui-1.12.1.custom/jquery-ui.theme.css" rel="stylesheet">
    <link href="/spin_api/js/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet">
</head>
<body>
<div class="main" id="main">
    <div class="header">
        <h2 class="main_header_title">SPIN prototype</h2>
    </div>
{{= main_html }}
</div>
<div class="logo" id="logo">
    <img src="//valibox./resources/valibox_logo.png" alt="valibox-logo"/>
</div>
</body>
</html>
