{{ --$def with (mqtt_host, mqtt_port) }}
    
  <script type="javascript">
      function modal(href) {
          window.open(href,'_blank',
                           'toolbar=no,
                            location=no,
                            status=no,
                            menubar=no,
                            scrollbars=yes,
                            resizable=yes,
                            width=400,
                            height=400');
      }
  </script>
  
<div>
  <p>
   <a href="/spin_api/graph.html?mqtt_host={{=mqtt_host}}">graph test (MQTT at {{= mqtt_host }} )</a>
   <br />
   <a href="/spin_api/debug.html">debug mode</a>
   <br />
   <a id="OpenDialog" href="/spin_api/tcpdump?device=aa:bb:cc:dd:ee:ff">Dump test device</a>
  </p>
</div>

  <script>
    $(document).ready(function () {
        $("#OpenDialog").click(function () {
            var w = window.open(this, "popupWindow", "width=600, height=400, scrollbars=yes");
            return false;
        });
    });
  </script>
